.glass {
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#252525, 0.94);
    position: fixed;
    z-index: 5;
    transition: 500ms;
}

.close-modal {
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 10;
    &:hover {
        background-color: black !important;
    }
    img {
        vertical-align: top;
    }
    &:hover + .glass {
        background-color: rgba(#252525, 0.9) !important;
        // transform: scale(0.99);
        // background-color: rgba(#252525, 0.8);
    }
}

.entry-wrapper {
    height: 80vh;
    max-height: 80vh;
    width: 1200px;
    position: fixed;
    top: 50%;
    right: 0;
    left: 50%;
    display: flex;
    margin-left: -600px; /* Negative half of width. */
    margin-top: -40vh;
    z-index: 10;
    transition: 400ms;
    display: flex;
    justify-content: center;

    .entry-canvas {
        display: flex;
        justify-content: flex-end;
        height: 100%;
        overflow: hidden;
        width: 50%;
        max-height: 850px;
        // width: 500px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        img {
            height: 100%;
            float: right;
        }
    }

    .entry-description {
        width: 50%;
        height: 100%;
        color: #fff;
        position: relative;
        padding: 0 40px;

        h2, p {
            text-align: left;
        }
        h2 {
            font-size: 45px;
            line-height: 27px;
        }

        .description {
            padding-top: 30px;
        }
    }
}

@media (max-width: 1600px) {
    .entry-wrapper {
        width: 80vw;
        margin-left: -40vw; /* Negative half of width. */
        .entry-description {
            width: 40%;
        }
        .entry-canvas {
            width: 60%;
        }
    }

}

@media (max-width: 1400px) {
    .entry-wrapper {
        width: 90vw;
        margin-left: -45vw; /* Negative half of width. */
        .entry-description {
            width: 40%;
        }
        .entry-canvas {
            width: 60%;
        }
    }

}

@media (max-width: 992px) {
    .close-modal {
        position: fixed;
        right: 45px;
        top: 30px;
        width: 30px;
        height: 30px;
        text-decoration: none;
        font-weight: 300;
        &:hover {
            background-color: transparent;
        }
        &:before {
            content: "CLOSE";
            text-transform: capitalize;
            padding-right: 10px;
            color: #fff;
        }
    }

    .entry-wrapper {
        flex-direction: column;
        height: 90vh;
        max-height: 1000px;
        margin-top: -40vh; /* Negative half of width */
        .entry-description {
            width: 100%;
            height: 35%;
            padding: 30px 0;

            p, h2 {
                text-align: center;
            }
        }

        .entry-canvas {
            justify-content: center;
            width: 100%;
            height: 100%;
        }
    }

}

@media (max-width: 450px) { 
    .entry-wrapper {
        width: 100vw;
        margin-left: -50vw;
        height: 80vh;
        margin-top: -35vh;
        max-height: 600px;
        .entry-canvas {
            height: 100%;
        }
        .entry-description {
            padding: 15px 30px;
            h2 {
                font-size: 30px;
            }

            .description {
                padding-top: 15px
            }
        }
    }
}